// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 6px -6px #999;
  border: none;
  transition-duration: 1s;
}

.intro-content {
  padding-top: 100px;
  height: 825px;
  background-image: image-url("white-house.jpeg");
  background-size: cover !important;
  background-position: top;
  background-attachment: fixed;
}

.intro-text {
  height: 200px;
  text-align: center;
  font-size: 6vw;
  color: white;
}

.content-section{
  padding-top: 50px;
  height: 750px;
  border: 2px solid black;
}

.section-title {
  color: rgb(63, 129, 166);
  text-align: center;
  text-decoration: bold;
  font-size: 5em;
}

#giving-title {
  color: rgb(202, 55, 52);
}

.tweet-description {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2%;
}

.tweets-container {
  // border: 2px solid black;
  padding-left: 2.5%;
}

.single-tweet {
  height: 100px;
  width: 350px;
  margin-right: 15px;
  text-align: center;
  background-color: rgba(131, 170, 194, 0.5);
  border-color: black;

}

.single-tweet a {
  color: black;
}

.single-tweet a:hover {
  color: rgb(63, 129, 166);
}

.email-content {
  text-align: center;
  margin-top: 2%;
  font-size: 2em;
}

.email {
  background-color: rgb(63, 129, 166);
}

.email:hover {
  background-color: rgba(131, 170, 194, 0.6);
  border-color: rgb(63, 129, 166);
  color: black;
}

.img-container {
  // border: 2px solid red;
  margin: auto;
  margin-top: 4%;
}

.single-image {
  position: relative;
}

.MFR {
  padding-left: 0%;
  width: 400px;
  margin-top: 4%;
}

.BG {
  padding-left: 0%;
  width: 325px;
}

.GC {
  padding-left: 0%;
  width: 400px;
  margin-top: 6.5%;
}

#beygood {
  margin-left: 4.5%;
}

#global {
  margin-left: 6.5%;
}

.img-text {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  font-size: 2.2em;
}

.gc-text {
  margin-left: 4%;
}

.mfr-text {
  margin-left: -2.2%;
}

.bg-text {
  margin-left: 2%;
}

.about-img {
  text-align: center;
}

.about-text {
  font-size: 2em;
  height: 386px;
}

.about-content {
  margin-top: 3%;
}

.social-media {
  margin: auto;
  text-align: center;
}

.social-media ul {
  display: inline-block;
}

.social-media li {
  font-size: 2em;
  width: 1.5em;
}

#about-title {
  color: rgb(86, 24, 44);
}

.social-media li:hover {
  cursor: pointer;
  font-size: 2.1em;
}

