// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.intro {
  padding-top: 100px;
  border: 2px solid black;
  height: 750px;

}

.content-section{
  padding-top: 50px;
  height: 750px;
  border: 2px solid black;
}