<html>
<body id="vote-bey" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <a class="navbar-brand page-scroll" href="#vote-bey">VoteBey</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden"><a href="#vote-bey"></a></li>
            <li><a class="page-scroll" href="#about">About</a></li>
            <li><a class="page-scroll" href="#giving-back">Giving Back</a></li>
            <li><a class="page-scroll" href="#connect">Connect</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Content -->
    <header class="intro">
      <div class="intro-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="intro-text">
                Okay America, <br>now let's get in formation</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-title" id="about-title">About</h2>
          <div class="about-content">
            <div class="row">
            <div class="col-xs-6 about-img">
              <%= image_tag("BeyAbout.png", class: "img-responsive")%>
            </div>
            <div class="col-xs-6 about-text">
              <p>Beyonce Knowles is running as the Indepedent Party candidate for president.  Born and raised in Houston, Texas, she strongly values family and giving back to the community.  Her dominance in the music industry proves that she is an excellent leader and will lead America in the right direction.</p>
              <div class="social-media">
              <ul class="list-inline">
                <li><a href="https://twitter.com/beyonce?lang=en" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="https://www.facebook.com/beyonce" target="blank"><i class="fa  fa-facebook-square"></i></a></li>
                <li><a href="https://www.instagram.com/beyonce/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="http://www.beyonce.com/" target="_blank"><i class="fa fa-music"></i></a></li>
              </ul>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Giving Back Section -->
    <section id="giving-back" class="container content-section">
      <div class="row">
        <div class="col-md-12">
          <h2 id="giving-title" class="section-title">Giving Back</h2>
          <div class="row img-container">
            <div class="single-img MFR col-xs-4">
              <div class="image"><a href="http://musicforrelief.org/" target="_blank"><span id="music" class="img-responsive"></span></a></div>
              <p class="img-text mfr-text hidden">providing aid to natural disaster survivors and protecting the environment</p>

            </div>
            <div class="single-img BG col-xs-4">
              <div class="image"><a href="http://www.beyonce.com/beygood/" target="_blank"><span id="beygood" class="img-responsive"></a></div>
              <p class="img-text bg-text hidden">raising funds for <br>charities and bringing awareness to current issues</p></span>
            </div>
            <div class="single-img GC col-xs-4">
              <div class="image"><a href="https://www.globalcitizen.org/en/" target="_blank"><span id="global" class="img-responsive"></span></a></div>
              <p class="img-text gc-text hidden">a community committed to social change</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Connect Section -->
    <section id="connect" class="container content-section">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-title connect-title">Connect</h2>
          <p class="tweet-description">@recent_tweets from Beyonce</p>
          <div class="tweets-container">
          <% @tweets.each do |tweet| %>
          <div class="single-tweet panel panel-default col-xs-4">
            <a href="<%= tweet[:url] %>" target="_blank" class="panel-body"><%= tweet[:text]%></a>
          </div>

          <% end %>
          </div>


        </div>
      </div>
      <div class="email-content">
          <p>Want to get involved?  Email us!</p>
          <a class="email btn btn-primary btn-lg" href="mailto:contact@votebey.com" role="button">contact@votebey.com</a>
        </div>
    </section>
  </body>
</html>
