<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VoteBey</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=David+Libre" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
